@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,300&display=swap');


#root {
  max-width: vw;
  margin: 0;
  padding: 0;
  color: black;
}
body{
  margin: 0;
}
body *{
  padding: 0 1rem;
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
}

h1{
  font-size: 4rem;
  padding-left: 0;
  margin-top: 0;
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
}

nav{
  background-color: transparent;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-weight: 300;
  padding-right: 0;
  
}


.navBar > div{
  margin: 0;
  padding: 0
}

.navBar a {
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.authField{
  width: 100%;
}

.eventDiv{
  background-color: lightgrey;
  margin: 0.5rem;
}

.header h1 {
  font-family: Montserrat;
  font-weight: 300;
  size: 5rem;
  color: #fff;
  text-shadow:
    0 0 5px #b1b0b0,
    0 0 8px #b1b0b0,
    0 0 12px #fff,
    0 0 1px #e2e60c,
    0 0 30px #e2e60c,
    0 0 1px #e2e60c,
    0 0 1px #e2e60c,
    0 0 100px #e2e60c;
    font-weight: bold;
}

.header p{
  font-size: 1.5rem;
  line-height: 1.5;
}

.header {
  background-image: url("/images/header2bg.jpg");
  background-size: cover;
  color: white;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.allLink{
  background-size: cover;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allLink > a{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 800;
  border-radius: 2rem;
}

.allskills{
  background-color: white;
}

.allskills a{
  border: 2px solid black ;
}

.allevents{
  background-image: url('/images/b&weventsPeach.jpg');
}

.dropDownMenu{
  margin-top: 1rem;
}

.dropDownMenu select{
  width: calc(70% - 2rem);
  border: 1px solid grey;
  font-size: 0.9rem;
}

.dropDownMenu option {
  font-size: 0.9rem;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.5fr));
  gap: 2px;
  padding: 0;
}

.container {
  position: relative;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 7rem;
}

.container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: cover;
}

.container p, .container h2 {
  position: relative;
  padding: 0 ;
  border-radius: 1rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.3rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
}

.container a{
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.endLink{
  background-color: #fbeb7c;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endLink a{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 1rem;
  font-weight: 700;
}

.genButton{
  border:wheat;
	padding: 20px 30px;
  margin-top: 30px;
	border-radius:25px;
  color: rgb(223, 230, 236);
	background:rgba(4, 3, 4, 0.9);
  margin-right: 1rem;
  font-weight: 600;
}

.whiteButton{
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}

.userInfo{
  margin: 2rem 0;
}

.userInfo p{
  padding: 0 1rem;
  line-height: 0.7;
}

.noMargin {
  margin: 0 -1rem;
  padding: 0;
  margin-bottom: 3rem;
}

.noMargin h3{
  margin-left: 1rem;
  font-weight: 600;
}

.fullWidthImg img{
  width: 100vw;
  margin: 0 -1rem;
  padding: 0;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.5fr));
  gap: 2px;
  padding: 0;
}

.container {
  position: relative;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 7rem;
}

/* Estilos para tablet */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 0.3333333333fr));
  }

  .container {
    height: 10rem;
  }
}

/* Estilos para web */
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0.3333333333fr));
  }

  .container {
    height: 15rem;
  }
}

