.pageForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem
}

.pageForms input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 30px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

