.home {
  padding-left: 0;
}

.home a {
  padding: 0;
}


.nav-menus a {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  /* letter-spacing: 0.3rem; */
}

.nav-menus button {
  border: 1px solid #dfdfdf;
  border-radius: 25px;
  color: rgb(223, 230, 236);
  background: rgba(4, 3, 4, 0.9);
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.hamburger {
  display: none;
}

.authForms {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: calc(100vh - 4rem);
}

.authField {
  margin: 0;
  padding: 0;
}

.authForms label {
  letter-spacing: 5px;
  color: rgb(14, 14, 13);
  font-weight: 500;
}

.authForms input {
  background-color: rgb(236, 235, 235);
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  width: calc(100% - 5rem);
  margin: 1rem;
  padding: 1rem;
}

.pageForms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageForms button {
  border: 1px solid #dfdfdf;
  border-radius: 25px;
  color: rgb(223, 230, 236);
  size: 0.5rem;
  background: rgba(4, 3, 4, 0.9);
}

.pageForms input,
.pageForms select,
.pageForms textarea {
  width: 100%;
  margin: 0.5rem 0;
  background-color: rgb(236, 235, 235);
  border: 1px solid #ebebeb;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0.7rem;
}

.pageForms img {
  width: 100%;
}

.addSkillDiv {
  margin-bottom: 2rem;
}

.addSkillDiv h1 {
  margin-top: 2rem;
  margin-left: 2rem;
}

.addField {
  width: 100%;
  margin: 1rem 0;
}

.addField label {
  color: rgb(14, 14, 13);
  font-weight: 500;
}

.addField textarea {
  height: 10rem;
}

.skill-dets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-dets h3 {
  margin-top: 2rem;
  margin-left: 1rem;
  font-weight: 600;
}

.skill-dets a {
  border: wheat;
  border: 1px solid #dfdfdf;
  border-radius: 25px;
  color: rgb(223, 230, 236);
  size: 1.5rem;
  background: rgba(4, 3, 4, 0.9);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  /* letter-spacing: 0.3rem */;
}

.skill-dets button {
  border: wheat;
  border: 1px solid #dfdfdf;
  border-radius: 25px;
  color: rgb(237, 231, 231);
  size: 1rem;
  background: rgba(4, 3, 4, 0.9);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  /* letter-spacing: 0.5rem */;
}

.skill-dets p {
  padding: 0 1rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .menu-container.closed {
    display: none;
  }

  .hamburger {
    display: block;
    margin-right: -1rem;
    background: rgba(0, 0, 0, 0.9);
    height: 3rem;
    cursor: pointer;

  }

  .hamburger img {
    padding: auto;
    margin-top: 1rem;
  }
 

  .menu-container {
    position: absolute;
    right: 0;
    display: none;
    z-index: 1;
  }

  .menu-container.opened {
    display: block;
  }

  .drop-menus{
    display: flex;
    flex-direction: column;
    background-color: rgba(175, 175, 175, 0.8);
    padding: 0.5rem;
  }
  
  .header h1{
    font-size: 2.5rem;
  }

  .header p{
    font-size: 1rem;
  }

  .nav-menus button {
    border: wheat;
    border: 1px solid #dfdfdf;
    border-radius: 25px;
    color: rgb(223, 230, 236);
    size: 0.5rem;
    background: rgba(4, 3, 4, 0.9);
    padding: 0.5rem;
  }

  .menu-container.opened .nav-menus a {
    text-decoration: none;
    font-weight: bold;
  }

  .menu-container.opened .nav-menus a:hover {
    color: #fff;
  }

  .menu-container.opened .nav-menus a:active {
    color: #fff;
    background: #000;
  }

  .menu-container.opened .nav-menus a:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .menu-container.opened .nav-menus a {
    transition: all 0.3s ease-in-out;
  }

  .menu-container.opened .nav-menus a:focus {
    outline: none;
    color: #fff;
    background: #000;
  }

}